.imageContainer {
    margin : auto;
    position: relative;
    min-height: 100px;
    height: 100%;
    width: 100px;
    display: flex;
    z-index: 0;
}

.itemContainer {
    font-family: 'Sarabun', sans-serif !important;
    min-height: 100px;
    z-index: 0;
}

.image {
    z-index: 0;
}
