.imageContainer {
    margin : auto;
    position: relative;
    min-height: 100px;
    height: 100%;
    width: 100px;
    display: flex;
    z-index: 0;
}

.itemContainer {
    font-family: 'Sarabun', sans-serif !important;
    min-height: 100px;
    z-index: 0;
}

.image {
    z-index: 0;
}

.description {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1; /* number of lines to show */
           line-clamp: 1; 
   -webkit-box-orient: vertical;
}
