.autocompleteList {
  width: 100%;
  min-height: 120px;
  padding: 10px 10px 10px 10px;
  z-index: 10;
}

.imageContainer {
  margin : auto;
  margin-left : 3px;
  margin-right: 3px;
  position: relative;
  min-height: 100px;
  height: 100%;
  width: 100px;
  display: flex;
}

.loadingList {
  width: 100%;
  height: 120px;
  padding: 10px 10px 10px 10px;
}
@media (max-width: 768px) {
  .autocompleteList {
    padding-left: 0px;
  }
}